.App {
  text-align: center;
}
.login{
  /* background-image:url(./assets/mediterranean-cuisine-2378758_1920.jpg); */
  /* background-size: cover; */
    background-repeat: no-repeat;
    /* padding: 15rem; */
    font-size: 1.2rem;

}

.home{
   /* background-image: url(./assets/chef-1417239_1280.png); */
   /* background-size: cover; */
   /* background-repeat: no-repeat; */
   padding: 2rem;
   /* height: 1000px; */
}

 


 
 
 


 
 
 
 
 
 
 
 


 


 
 
 
 
 

